log
Querymap.txt
GLOBAL/*
Windermere_01/*
Windermere_02/*
Windermere_03/*
Windermere_04/*
Windermere_05/*
Windermere_06/*
Windermere_07/*
Windermere_08/*
Windermere_09/*
Windermere_10/*
Windermere_11-0m/*
Windermere_11-10m/*
Windermere_11-20m/*
Windermere_11-30m/*
Windermere_11-40m/*
Windermere_11-50m/*
Windermere_11-60m/*
Windermere_12/*
Windermere_13/*
Windermere_14/*
Windermere_15/*
Windermere_16/*
Windermere_17/*
Windermere_18/*
Windermere_19/*
Windermere_20/*
Windermere_21/*
Windermere_22/*
Windermere_23/*
Windermere_24/*
Windermere_25/*
Windermere_26/*
Windermere_27/*
Windermere_28-0m/*
Windermere_28-10m/*
Windermere_28-20m/*
Windermere_28-30m/*
Windermere_28-40m/*
Windermere_29/*
Windermere_30/*
Windermere_31/*
Windermere_32/*
Windermere_34/*
Windermere_35/*
Windermere_36/*
Windermere_37/*
Windermere_38/*
Windermere_39/*
Windermere_40/*
Windermere_41/*
Windermere_44/*
Windermere_45/*
Windermere_46/*
Windermere_47/*
Windermere_48/*
Windermere_49/*
Windermere_50/*
